.sideBar
  .sideBar__header
    .sideBar__header__userName
      userName
    .sideBar__header__icon
      =link_to "#" do
        = icon('fas', 'edit',  class: "sideBar__header__icon")
        %span<>
      =link_to "#" do
        = icon('fas', 'cog', class: "sideBar__header__icon")
        %span<>
  .sideBar__contents
    =link_to '#' , class:"contentsLink" do
      .sideBar__contents__groupName
        1つ目のグループです
      .sideBar__contents__lastMessage
        最新のメッセージが入ります
      .sideBar__contents__groupName
        2つ目のグループです
      .sideBar__contents__lastMessage
        最新のメッセージが入ります
      .sideBar__contents__groupName
        3つ目のグループです
      .sideBar__contents__lastMessage
        最新のメッセージが入ります